<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>
  <nav class="menu">
    <ul>
      <li class="lien"><a href="/chat"><strong>Chat</strong></a>
      </li>
      <li class="lien"><a href="#"><strong>Chiens</strong></a>
       
      </li>
    
    </ul>
  </nav>


  <div class="photo">
    <img class="imageAcceuilChienChat" src="../img/acceuil/acceuilChien&Chat.jpg" alt="lala">
  </div>
<!--présentes les nouveaux produits issus de la table product-->
    <div class="newProducts">
      <h1>Nouveaux Produits : </h1>
    </div>
    <form action="/" method="POST">
      <div class="boxNewProducts">
        <% for (var i=0; i < product.length; i++) { %>
          <div class="newProduct1">
            <img class="croquettes" src="<%= product[i].image %>">
         
              <label for="name<%= i %>" required><%= product[i].name %></label>
              <input type="hidden" id="productName<%= i %>" name="productName[<%= i %>]" value="<%= product[i].name %>">
      
            <label for="price<%= i %>" required><%= product[i].price %></label>
            <input type="hidden" id="productPrice<%= i %>" name="productPrice[<%= i %>]" value="<%= product[i].price %>">
            <input type="button" class='button' data-num="<%= i %>" value="purchase">
          </div>
        <% } %>
      </div>
      <input type="hidden" id="numProduct" name="numProduct">
    </form>

    <script>
      const buttons = document.querySelectorAll('.submit');
      buttons.forEach(button => {
        button.addEventListener('click', () => {
          const num = button.dataset.num;
          const price = document.getElementById(`productPrice${num}`).value;
          const name = document.getElementById(`productName${num}`).value;
          document.getElementById('numProduct').value = num;
          document.forms[0].submit();
        });
      });
    </script>
    
  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>