<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>
  <nav class="menu">
    <ul>
      <li class="lien"><a href="/chat"><strong>Chat</strong></a>
      </li>
      <li class="lien"><a href="#"><strong>Chiens</strong></a>
       
      </li>
      <li class="lien"><a href="#"><strong>Autres</strong></a>
     
      </li>
      <li class="lien"><a href="#"><strong>Bons Plans</strong></a></li>
    </ul>
  </nav>


  <div class="photo">
    <img class="imageAcceuilChienChat" src="../img/acceuil/acceuilChien&Chat.jpg" alt="lala">
  </div>

  <div class="newProducts">
    <h1>Nouveaux Produits : </h1>
  </div>

  <div class="boxNewProducts">
    <% for (var i=0; i < product.length; i++) { %>
      <div class="newProduct1">
        <img class="croquettes" src="<%= product[i].image %>">
        <div name="name">   <%= product[i].name %> </div>
     
        <div name="price" > <%= product[i].price %> </div> 
          <button type="addPanier" name='add' value='Panier' >Ajouter
          </button>
      </div>
  
        <% } %>
  </div>




  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>